/*  Body */

body {
	background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
	background-repeat: no-repeat;
	background-size: cover;
	height: 790px;
	}

img.img-center {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-white {
	color: #ffffff;
}

#text-shadow {
	text-shadow: 0px 7px 22px rgba(23, 11, 37, 1);
}